# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build
build/
dist/
.parcel-cache/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Ignore environment variables
.env
.env.local

# Ignore build and dependency folders
node_modules/
build/
dist/

# Ignore log files
*.log

# Ignore Docker volumes or temp files
docker-volume/
tmp/
